{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Google Font CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Basic&display=swap" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MT1LP3RQK5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-MT1LP3RQK5');
    </script>

    <!-- Custom CSS-->
    <link rel="stylesheet" href="{% static 'navbar.css' %}">
    <script>
        function search() {
            searchTerm = document.getElementById('searchbar').value;
            window.location.href = "{% url 'search_page' 1234 %}".replace(/1234/, searchTerm);
        }

        function key_down(e) {
            if (e.key == 'Enter') {
                e.preventDefault();
                search()
            }
        }
    </script>
    <title>Jasper</title>
</head>

<body>

    <!-- Image and text -->
    <nav class="navbar navbar-light bg-light sticky-top">
        <a class="navbar-brand" href="{% url 'home_page' %}">
            <img src="{% static 'jasper-logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            Jasper
        </a>

        <div class="nav-item col-8 mx-auto sb">
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 col-8" placeholder="{{searchTerm}}" aria-label="Search"
                    id="searchbar" onkeydown="key_down(event)">
                <button class="search-btn" type="button" onclick="search()">Go!</button>
            </form>
        </div>

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
            <form class="form-inline">
                <a href="{% url 'profile_page'  %}">
                    <img src="{% static 'jasper-user-icon.png' %}" style="width: 50px; height: 50px;">
                </a>
            </form>
        </ul>
        {% else %}
        <ul class="navbar-nav ml-auto">
            <form class="form-inline">
                <a href="{% url 'login_page'  %}">
                    <button class="login-btn" type="button">Log In</button>
                </a>
                <a href="{% url 'register_page'  %}">
                    <button class="signup-btn" type="button">Sign Up</button>
                </a>
            </form>
        </ul>
        {% endif %}


    </nav>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>